* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    padding: 0.5rem;
}

body .news-letter-header {
    font-family: 'Times New Roman';
    font-size: 5rem;
    text-align: center;
}

body .flex-container {
    display: flex;
    width: 100%;
    border: 1px solid black;
}

body .news-letter-title {
    font-size: 2.5rem;
    text-align: center;
    font-style: italic;
}

body .box-themed {
    border: 1px solid black;
    width: 25%;
}

body .box-size-themed {
    border: 1px solid black;
    width: 50%;
}

body .news-letter-breaking-news .center {
    display: block;
    margin: auto;
}